/* 1. Basic styles */
/* 2. Header styles */
/* 3. Main styles */
/* 4. Footer styles */

/* Basic styles start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
}

body {
  background-color: #252A34;
  min-height: 100vh;
}
/* Basic styles end */

/* Header styles start */
.header {
  text-align: center;
  margin: 40px;
}

h1 {
  color: #ffffff;
}
/* Header styles end */

/* Main styles start */
.main {
  text-align: center;
}

.turn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.turn-boxes {
  display: flex;
  margin: 15px;
}

.turn-box {
  padding: 1em 2em;
  border: 1px solid #000;
}

.active-box {
  background-color: crimson;
}

.content {
    display: flex;
    margin: 75px 50px 50px 50px;
}

.game-area {
    width: 12.3rem;
    border: 1px solid #000;
    margin: 0 auto;
    font-size: 0;
}

.box {
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    display: inline-block;
    font-size: 2rem;
    border: 1px solid #000;
    cursor: pointer;
    vertical-align: middle;
    transition: background .1s;
}

.box:hover {
    background-color: crimson;
}

.play-again {
  background-color: crimson;
  height: 3rem;
  width: 5rem;
  display: none;
  margin: 2rem auto;
}

.play-again:hover {
  background-color: rgba(220, 20, 60, 0.518);
  cursor: pointer;
}

.result {
  display: none;
}

.steps {
  display: none;
}

/* Main styles end */

/* Footer styles start */
.footer {
  position: absolute;
  bottom: -70px;
  padding: 2rem;
  width: 100%;
  background-color: var(--dark-color);
  display: flex;
  justify-content: space-between;
}

.footer-right,
.footer-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 195px;
  height: 70px;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
}

.footer-author {
  color: var(--text-light);
  text-align: center;
  font-size: 18px;
}
/* Footer styles end */